[submodule "taking_notes/Malik/Malik2ndEdition"]
	path = taking_notes/Malik/Malik2ndEdition
	url = https://github.com/ianschafer/Malik
[submodule "taking_notes/Malik/Malik5thEdition"]
	path = taking_notes/Malik/Malik5thEdition
	url = https://github.com/mhoad/cpp_book
[submodule "taking_notes/Malik/Malik6thEdition"]
	path = taking_notes/Malik/Malik6thEdition
	url = https://github.com/pyjac/CppProgrammingExercises
[submodule "taking_notes/Malik/MalikExamples"]
	path = taking_notes/Malik/MalikExamples
	url = https://github.com/jled7/Cengage-C-Plus-Plus
[submodule "taking_notes/draft-latex"]
	path = taking_notes/draft-latex
	url = https://github.com/cplusplus/draft
[submodule "taking_notes/cplusplus-beginners"]
	path = taking_notes/cplusplus-beginners
	url = https://github.com/caveofprogramming/cplusplus-beginners
[submodule "taking_notes/advanced-cplusplus"]
	path = taking_notes/advanced-cplusplus
	url = https://github.com/caveofprogramming/advanced-cplusplus
